In [18]:
import pandas as pd
import os

In [19]:
#define file path
schoolcsv = os.path.join("raw_data","schools_complete.csv")
studentcsv = os.path.join("raw_data","students_complete.csv")

In [ ]:
#Creating school report dataframe
reportpath = os.path.join("PyCitySchoolReport.csv")
report_df=pd.write_csv(reportpath)

In [22]:
#open csv file and read 
school_df = pd.read_csv(schoolcsv)
school_df.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [46]:
#open csv file and read 
student_df = pd.read_csv(studentcsv)
student_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

# District Summary

In [52]:
#print("District Summary")
#Create a high level snapshot (in table form) of the district's key metrics, including:
#Total Schools
totalschoolsunique = len(school_df["name"].unique())
print("Total Schools: " + str(totalschoolsunique))
#Total Students
totalstudents = student_df["name"].count()
print("Total Students: "+ str(totalstudents))
#Total Budget
totalbudget = school_df["budget"].sum()
print("Total Budget: "+str(totalbudget))
#Average Math Score
avgmath = student_df["math_score"].mean()
print("Average Math Score: " +str(avgmath))
#Average Reading Score
avgreading = student_df["reading_score"].mean()
print("Average Reading Score: "+str(avgreading))
#% Passing Math
passingmath = student_df[student_df["math_score"] >= 65].count()["name"]
percentmath = (passingmath/totalstudents)*100
print ("% Passing Math: " +str(percentmath))
#% Passing Reading
passingreading = student_df[student_df.reading_score >= 65].count()["name"]
percentreading = (passingreading/totalstudents)*100
print ("% Passing Reading: " +str(percentreading))
#Overall Passing Rate (Average of the above two)
passingrate = (percentmath+percentreading)/2
print ("Overall Passing Rate: "+str(passingrate))

Total Schools: 15
Total Students: 39170
Total Budget: 24649428
Average Math Score: 78.98537145774827
Average Reading Score: 81.87784018381414
% Passing Math: 84.7281082461
% Passing Reading: 96.1986213939
Overall Passing Rate: 90.46336482

# School Summary

In [73]:
#School Summary

#Create an overview table that summarizes key metrics about each school, including:
#Creating school and students joined dataframe
school_df.rename(columns={"name":"school"}, inplace=True)
leftjoined_df = pd.merge(student_df, school_df, on="school", how="left")
reorganized_df = leftjoined_df[["Student ID","name","gender", "grade", "reading_score", "math_score","School ID", "school", "type", "size", "budget"]]

#create new dataframe with analysis of each school
#School Name
#School Type
#Total Students - join table and perform .unique
totstudents = schoolsummary_df["school"].value_counts()
schoolsummary_df["Total Students"] = totstudents
schoolsummary_df.head()
#Total School Budget
#Per School Budget
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)

,Student ID,name,gender,grade,reading_score,math_score,School ID,school,type,size,budget,Total Students
0,0,Paul Bradley,M,9th,66,79,0,Huang High School,District,2917,1910635,NaN
1,1,Victor Smith,M,12th,94,61,0,Huang High School,District,2917,1910635,NaN
2,2,Kevin Rodriguez,M,12th,90,60,0,Huang High School,District,2917,1910635,NaN
3,3,Dr. Richard Scott,M,12th,67,58,0,Huang High School,District,2917,1910635,NaN
4,4,Bonnie Ray,F,9th,97,84,0,Huang High School,District,2917,1910635,NaN

# Top Performing Schools (By Passing Rate)

In [ ]:
Top Performing Schools (By Passing Rate)

Create a table that highlights the top 5 performing schools based on Overall Passing Rate. Include:
School Name
School Type
Total Students
Total School Budget
Per School Budget
Average Math Score
Average Reading Score
% Passing Math
% Passing Reading
Overall Passing Rate (Average of the above two)

Top Performing Schools (By Passing Rate)

Create a table that highlights the bottom 5 performing schools based on Overall Passing Rate. Include all of the same metrics as above.

In [ ]:
Math Scores by Grade

Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
Reading Scores by Grade

Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
Scores by School Spending

Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
Average Math Score
Average Reading Score
% Passing Math
% Passing Reading
Overall Passing Rate (Average of the above two)

In [ ]:
Scores by School Size

Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).

In [ ]:
Scores by School Type

Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).