In [45]:
import pandas as pd
import os

In [46]:
#define file path
schoolcsv = os.path.join("raw_data","schools_complete.csv")
studentcsv = os.path.join("raw_data","students_complete.csv")

In [47]:
#Creating school report dataframe
#reportpath = os.path.join("PyCitySchoolReport.csv")
#report_df=pd.to_csv(reportpath)

In [66]:
#open csv file and read 
school_df = pd.read_csv(schoolcsv)
school_df

    School ID                   name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [49]:
#open csv file and read 
student_df = pd.read_csv(studentcsv)
student_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

# District Summary

In [74]:
#print("District Summary")
#Create a high level snapshot (in table form) of the district's key metrics, including:
#Total Schools
totalschoolsunique = len(school_df["name"].unique())

#Total Students
totalstudents = student_df["name"].count()

#Total Budget
totalbudget = school_df["budget"].sum()

#Average Math Score
avgmath = student_df["math_score"].mean()

#Average Reading Score
avgreading = student_df["reading_score"].mean()

#% Passing Math
passingmath = student_df[student_df["math_score"] >= 65].count()["name"]
percentmath = (passingmath/totalstudents)*100

#% Passing Reading
passingreading = student_df[student_df.reading_score >= 65].count()["name"]
percentreading = (passingreading/totalstudents)*100

#Overall Passing Rate (Average of the above two)
passingrate = (percentmath+percentreading)/2

district_summary_dict = [{"Total Schools": totalschoolsunique, "Total Students":totalstudents, "Total Budget":totalbudget, 
                          "Average Math Score":avgmath, "Average Reading Score" : avgreading, "% Passing Math": percentmath, 
                         "% Passing Reading": percentreading, "Overall Passing Rate": passingrate}]
district_summary_df = pd.DataFrame(district_summary_dict)
district_summary_df = district_summary_df [["Total Schools", "Total Students", "Total Budget", "Average Math Score", "Average Reading Score", 
                                                          "% Passing Math", "% Passing Reading", "Overall Passing Rate"]]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,84.728108,96.198621,90.463365

# School Summary

In [110]:
#School Summary

#Create an overview table that summarizes key metrics about each school, including:
#School Name
#School Type
#Total School Budget
schoolsummary_df = school_df.drop ("School ID",1)
schoolsummary_df = schoolsummary_df.rename (columns = {"name": "School", "type": "School Type", "size" : "Total Students", "budget" : "Total School Budget" })
schoolsummary_df = schoolsummary_df.set_index("School")

#Per Student Budget
schoolsummary_df ["Per Student Budget"] = schoolsummary_df["Total School Budget"]/schoolsummary_df["Total Students"]
schoolsummary_df ["Per Student Budget"] = schoolsummary_df ["Per Student Budget"].map('${:,.2f}'.format)
schoolsummary_df.dtypes

#Average Math Score
#groupby school avgmath
grouped_student_df = student_df.groupby(["school"])
totreadsc = grouped_student_df["reading_score"].sum()
totreadsc_df = pd.DataFrame(totreadsc)
avgreadsc = totreadsc_df["reading_score"]/schoolsummary_df["Total Students"]
schoolsummary_df["Average Reading Score"] = pd.DataFrame(avgreadsc)
schoolsummary_df["Average Reading Score"] =schoolsummary_df["Average Reading Score"].map('{:,.2f}'.format)
schoolsummary_df

#Average Reading Score
#grouped_student_df = student_df.groupby(["school"])
#totmathsc = pd.DataFrame(grouped_student_df["math_score"].sum())
grouped_student_df = student_df.groupby(["school"])
totmathsc = grouped_student_df["math_score"].sum()
totmathsc_df = pd.DataFrame(totmathsc)
avgmathsc = totmathsc_df["math_score"]/schoolsummary_df["Total Students"]
schoolsummary_df["Average Math Score"] = pd.DataFrame(avgmathsc)
schoolsummary_df["Average Math Score"] =schoolsummary_df["Average Math Score"].map('{:,.2f}'.format)
schoolsummary_df

#% Passing Math


#% Passing Reading
#Overall Passing Rate (Average of the above two)
#Creating school and students joined dataframe
#schoollist_df = school_df.rename(columns={"name":"school"})
#leftjoined_df = pd.merge(student_df, schoollist_df, on="school", how="left")
#reorganized_df = leftjoined_df[["Student ID","name","gender", "grade", "reading_score", "math_score","School ID", "school", "type", "size", "budget"]]
#reorganized_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score
School,,,,,,
Huang High School,District,2917,1910635,$655.00,81.18,76.63
Figueroa High School,District,2949,1884411,$639.00,81.16,76.71
Shelton High School,Charter,1761,1056600,$600.00,83.73,83.36
Hernandez High School,District,4635,3022020,$652.00,80.93,77.29
Griffin High School,Charter,1468,917500,$625.00,83.82,83.35
Wilson High School,Charter,2283,1319574,$578.00,83.99,83.27
Cabrera High School,Charter,1858,1081356,$582.00,83.98,83.06
Bailey High School,District,4976,3124928,$628.00,81.03,77.05
Holden High School,Charter,427,248087,$581.00,83.81,83.80
Pena High School,Charter,962,585858,$609.00,84.04,83.84
Wright High School,Charter,1800,1049400,$583.00,83.95,83.68
Rodriguez High School,District,3999,2547363,$637.00,80.74,76.84
Johnson High School,District,4761,3094650,$650.00,80.97,77.07
Ford High School,District,2739,1763916,$644.00,80.75,77.10
Thomas High School,Charter,1635,1043130,$638.00,83.85,83.42

In [63]:
schoolrename_df = school_df.set_index("name")
schoolrename_df.head()

schoolsummarydf = 

#schoolindex = schoolsummary_df.index.get_values()
#for school in schoolindex:
    #schoolsummary_df ["School Type"] = school_df.loc[school_df["school"]==schoolsummary_df.index.get_value(),"type"]
#schoolsummary_df
#schoolsummary_df.index.get_values()

                       School ID      type  size   budget
name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500

# Top Performing Schools (By Passing Rate)

In [ ]:
Top Performing Schools (By Passing Rate)

Create a table that highlights the top 5 performing schools based on Overall Passing Rate. Include:
School Name
School Type
Total Students
Total School Budget
Per School Budget
Average Math Score
Average Reading Score
% Passing Math
% Passing Reading
Overall Passing Rate (Average of the above two)

Top Performing Schools (By Passing Rate)

Create a table that highlights the bottom 5 performing schools based on Overall Passing Rate. Include all of the same metrics as above.

In [ ]:
Math Scores by Grade

Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
Reading Scores by Grade

Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
Scores by School Spending

Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
Average Math Score
Average Reading Score
% Passing Math
% Passing Reading
Overall Passing Rate (Average of the above two)

In [ ]:
Scores by School Size

Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).

In [ ]:
Scores by School Type

Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).